body {
    background-color: rgb(17, 17, 17);
}


#rdm-container {
    position: relative;
    margin: 25px auto 0 auto;
    display: block;
    width: 60%;
    text-align: center;
    padding: 0;
}


#rdm-container > h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    font-weight: bold;
    color: #dbdbdb;
}

#rdm-container > ul {
    display:block;
    padding: 0;
    margin: 20px auto 0 auto;
    border: 0;
    align-items: center;

}


#rdm-container ul > li {  
    float: left;
    width: 48%;
    background: #fff;
    margin: 1%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}


.rdm-iconos {
    width: 70px;
    float: left;
    margin: 10px 10px 10px 8px;
}

.rdm-iconos-a, .rdm-iconos-a:hover {
    color:#000;
    text-decoration: none;
    text-transform: none;
}


.rdm-iconos-a > div {
    text-align: center;
    margin-top: 10px;
}

.rdm-iconos-a > div > h5 {
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: right;
    display: block;
    width: 95%;
}

.rdm-iconos-a > div > p {
    text-align: left;
    font-size: 11px;
    padding: 0;
    margin: 0 10px 0 0;
    display: block;
}

.rdm-iconos-a > div > span {
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    display: block;
    width: 95%;
}


#rdm-icon-facebook > div > h5,  #rdm-icon-facebook > div > span {
    color: #393bb6;
}

#rdm-icon-instagram > div > h5, #rdm-icon-instagram > div > span{
    color: #a3088f;
}

#rdm-icon-whatsapp > div > h5, #rdm-icon-whatsapp > div > span {
    color: #1fa36c;
}

#rdm-icon-youtube > div > h5, #rdm-icon-youtube > div > span {
    color: #e21f1f;
}

@media only screen and (max-width: 1148px) { 
    #rdm-container ul > li {  
        width: 100%;
    }
    #rdm-container {
        width: 50%;
    }  
}

@media only screen and (max-width: 820px) { 
    #rdm-container {
        width: 80%;
    }    
}


@media only screen and (max-width: 480px) { 
    #rdm-container {
        width: 90%;
    }
}


@media only screen and (max-width: 360px) { 
    #rdm-container {
        width: 95%;
    }

}